#include? "LoopFollowConfigOverride.xcconfig"
#include? "../../LoopFollowConfigOverride.xcconfig"
#include? "LoopFollowDisplayNameConfig.xcconfig"
#include? "../../LoopFollowDisplayNameConfig.xcconfig"

person = Saffan
unique_id = ${DEVELOPMENT_TEAM}.${person}

//Version (DEFAULT)
LOOP_FOLLOW_MARKETING_VERSION = 2.2.8
