#include? "LoopFollowConfigOverride.xcconfig"
#include? "../../LoopFollowConfigOverride.xcconfig"

//
//  Config.xcconfig
//  nsapple
//
//  Created by Kenneth Stack on 4/12/18.
//  Copyright © 2018 Perceptus.org. All rights reserved.
//

name=Daneen

unique_id = ${DEVELOPMENT_TEAM}.${name}

PRODUCT_NAME=Loop Follow ${name}